@font-face {
  font-family: "Sofia Pro Regular";
  src: url("fonts/SofiaProRegular.ttf");
}

@font-face {
  font-family: "Sofia Pro Bold";

  src: url("fonts/Sofia\ Pro\ Bold.ttf");
}

@font-face {
  font-family: "Sofia Pro Light";

  src: url("fonts/Sofia\ Pro\ Light.ttf");
}

html {
  scroll-behavior:smooth ;
}

body {
  font-family: Sofia Pro Regular;
  color: #454647;
  box-sizing: border-box;
  margin: 0 auto;
 
  
}
.navbar {
  height: 90px;
  background-color: white;
  opacity: 0.9;
}

.navbar > a,
.navbar > div {
  opacity: 1;
  
}

.nav-item {
  margin-left: 20px;
  font-size: 17px;
}

.navbar-brand img {
  height: 40px;
}

.nav-item:hover {
  transition: all 0.3s ease 0s;
  
  
}


.hero {
  background-image: url("20681456\ Villetta\ Olivastro\ edited\ \(3\ di\ 27\).jpg");
  background-position: 35% 80%;
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;

  padding-top: 250px;
  padding-bottom: 50px;
  opacity: 0.93;
}

.regForm {
  background-color: #ffffff;
  min-width: 330px;
  font-family: Sofia Pro Regular;
  
  padding: 45px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  border-radius: 7px;
}

input {
  font-family: Sofia Pro Regular;
}

.regForm p {
  font-family: Sofia Pro Regular;
}

#nextBtn, #prevBtn {
  font-family: Sofia Pro Regular;
}

button {
  font-family: Sofia Pro Regular;
}

h1 {
  
  font-family: Sofia Pro Bold;
  font-size: 30px;
  text-align: left;
  line-height: 1.4;
}

h2 {
  text-align: center;
  font-family: Sofia Pro Bold;
  font-size: 30px;
  
  line-height: 1.4;
}

h3 {
  font-size: 17px;
  font-family: Sofia Pro Bold;
}

h4 {
  font-size: 25px;
  font-family: Sofia Pro Bold;
  padding-bottom: 10px;
}

p {
  font-size: 17px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  width: 100%;
}

button {
  background-color: #fa824c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  
  transition: all 0.3s ease 0s;
  
    
  
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #fa824c;
}

.section-title {
  text-align: center;
}

.section {
  margin: 40px;
  color: #494B46;
  font-family: Sofia Pro Light;
  padding: 20px;
}

.benefits-items {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  

}

.benefits-items > div {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

i {
  padding-bottom: 20px;
}

.howitworks-section {
  background-image: url(new-orange-background.png);
  background-size: cover;
  position: relative;
  color: white;
  
  padding: 30px;
  
  
}

.section-title {
  padding: 30px;
}

.steps-items {
  width: 100%;
  padding: 20px;
}

.single-step {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

.single-step:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
  
}
.step-number {
  font-size: 40px;
  margin-right: 50px;
}

.desktop-mockup, .mobile-mockup {
  display:none;
}

.numbers-section {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding: 60px 0 40px 0;
}

.numbers-item {
  text-align: center;
  line-height: 1.3;
  width: 100%;
  padding-bottom: 30px;;
}

.number-title {
  font-size: 50px;
  font-family: Sofia Pro Bold;
}
.numbers-description {
  font-size: 18px;
}

.testimonial-section {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 20px;
}


.testimonial-image {
  object-fit: cover;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.testimonial-text {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  
}

.testimonial-text::before {
  font-family: 'FontAwesome';
  font-size: 50px;;
  color: #A8A8A8;
  content:"\f10d";
  
}

.testimonial-text p {
  width: 100%;
  font-size: 18px;
  
}

.testimonial-text a {
  color:#E17C4E
}

.bold {
  font-family: Sofia Pro Bold;
}

footer {
  background-color: #F8F8F8;
  padding: 70px 20px 20px 30px;
  
  
}
.footer-top, .footer-bottom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  
}

.footer-bottom {
  padding-top: 50px;
  border-color: #D8D8DA;
  border-width: 1px;;
  border-top-style: solid;
  
  
  
  
}

footer a {
  color: inherit;

}

footer a:hover {
 text-decoration:none;
 color: inherit;
 opacity: 0.8;

}
.wrapper a:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
  color: #E17C4E; 
  text-decoration:none;
}

input {
  margin-left: 0;
  padding-left: 0;
}


.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 30px;
}
footer ul {
  list-style-type: none;
  line-height: 1.8;
}

footer h5 {
  padding-bottom: 20px;
  font-size: 18px;
  font-family: Sofia Pro Bold;
}

.fa-arrow-circle-up {
  position: fixed;
  color: whitesmoke;
  
  z-index:9000;
  bottom: 20px;

  right: 20px;
  
}

.fa-arrow-circle-up:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
  color: #E17C4E; 
  text-decoration:none;
}

.wrapper ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  
  
}



.wrapper ul li{
  padding: 20px 20px 20px 0;
  font-size: 36px;
  color: #A8A8A8;
  
}



.wrapper ul li:hover{
  
  color: #E17C4E;
  transition: all 0.3s ease 0s;
  transform: scale(1.1)  
}


.footer-bottom-content {
  color: #A8A8A8;
}

input {
  padding-left: 10px;
}


@media (min-width: 800px) {
  .regForm  {
    width: 50%;
  }

  h1, h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 17px;
    font-style: bold;
  }

  .section {
    padding: 80px;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .howitworks-section {
    padding: 80px;
  }

  .hositworks-content {
    display: flex;
    justify-content: space-between;
  }

  .steps-items {
    margin-left: 50px;
    
  }

  .benefits-items {
    margin-top: 50px;
  }


  .benefits-items > div {
    width: 40%;
    padding-bottom: 10px;
  }

  

  .steps-items > div {
    width: 45%;
  }

  .desktop-mockup {
    display: block ;
    position: absolute;
    right: 50px;
    top: 450px;
    width: 40%;
    
    
    box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);



  }
  .mobile-mockup {
    display: block ;
    position: absolute;
    right: 100px;
    top: 350px;
    width: 17%;
    
    box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);



  }

  .numbers-section {
    padding-top: 100px;
  }

  .numbers-item {
    
    width: 24%;
    
  }
  .testimonial-section {
    width: 90%;
    margin-bottom: 50px;
  }
  
  
  
  .testimonial-image {
    object-fit: cover;
    width: 45%;
    height: 450px;
    
  }

  .testimonial-text {
    
    width: 40%;
    padding-top: 80px;
  }

  .testimonial-text p, .testimonial-text a {
    
    
    padding-left: 70px;
  }

  .footer-top, .footer-bottom-content {
    
    width: 90%;
    
    
  }

  footer ul {
    padding-right: 50px;
  }

  footer a {
    text-decoration: none;
  }

  .wrapper ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0;
    
    
  }



  .wrapper ul li{
    padding: 20px 20px 20px 0;
    font-size: 36px;
    color: #A8A8A8;
    
  }

  

  .wrapper ul li:hover{
    
    color: #E17C4E;
    transition: all 0.3s ease 0s;
    transform: scale(1.1)  
  }


  .footer-bottom-content {
    color: #A8A8A8;
  }



  



@media (min-width: 1200px) {

  
  .navbar-brand img {
    height: 40px;
  }
  .form-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
    padding-top: 150px;
    padding-bottom: 100px;
    opacity: 0.93;
  }

  .regForm {
    background-color: #ffffff;

    font-family: Sofia Pro;
    font-weight: 200%;
    padding: 50px;
    width: 45%;
    min-width: 300px;
    border-radius: 7px;
  }
  h1 {
    text-align: center;
    font-family: Sofia Pro Bold;
    font-size: 45px;
    text-align: left;
  }

  h2 {
    text-align: center;
  }

  .benefits-items > div {
    width: 26%;
  }

  .steps-items  {
    width: 70%;
  }

  .desktop-mockup {
    display: block ;
    position: absolute;
    right: 150px;
    top: 450px;
    width: 40%;
    box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);



  }
  .mobile-mockup {
    display: block ;
    position: absolute;
    top: 300px;
    right: 250px;
    width: 17%;
    box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 30px -8px rgba(0,0,0,0.75);



  }
  .numbers-item {
    
    width: 24%;
    
  }
  .testimonial-section {
    width: 80%;
  }

  footer {
    padding-right: 70px;
  }

  .fa-arrow-circle-up {
    display: none;
  }
  
}
